<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.android.homeBase"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="app.android.homeBase.MainActivity"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name="app.android.homeBase.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

<!--
        <activity
            android:name="app.android.homeBase.testParker"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
-->
        <!--
        <service android:enabled="true" android:name="app.android.homeBase.GPSservice"/> 
        -->

        <activity
            android:name="app.android.homeBase.SignupActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="app.android.homeBase.ChoresActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="app.android.homeBase.NewHouseActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="app.android.homeBase.ChoreInfoActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
